/* body */
body {
  background-color: white;
  font-size: 16px;
}

.page-container{
  position: relative;
  min-height: 100vh;
}

/* menu bar */

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: green;
  height: 3rem;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 2rem;
}

.menu-group {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.menu-group-item {
  list-style: none;
}

.menu-group-item a {
  display: block;
  height: 3rem;
  line-height: 3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-decoration: none;
  color: white;
  transition: 0.5s background-color;
}

.menu-group-item a:hover {
  background-color: darkgreen;
}
/* content */

.content {
  text-align: center;
  padding-bottom: 2.5rem;
}

/* bottom bar  */

.bottom-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: grey;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  padding-bottom: 0;
}

.bottom-bar-group {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.bottom-bar-group-item{
  list-style: none;
}
.bottom-bar-group-item a{
  display: block;
  height: 3rem;
  line-height: 3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: white;
  text-decoration: none;
}
.bottom-bar-group-item a:hover{
  background-color: darkslategrey;
}