<!DOCTYPE html>

{% load static %}

<html>
    {%block head%}
    <head>
        <meta charset="UTF-8">
        {% block css %}
            <link rel="stylesheet" href="{% static 'frame/frame.css' %}" />
        {% endblock %}

        {% block title%}<title>Salesgrade</title>{%endblock%}
    </head>
    {%endblock head%}

    <body>
        <div class="menu_bar">
            <a class="active" href="#home">Salesgrade</a>
            <a href="#own_results">My page</a>
            <a href="#recruits">My Recruits</a>
            <a href="#stats">Statistics</a>
            <a href="#blog">Blog</a>

        </div>
        
    </body>
</html>
