<!DOCTYPE html>



<html>
    {% load static %}
    <head>

        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'frame/frame.css' %}" />
        {% block css %}
        {% endblock css%}

        {% block title%}<title>Salesgrade</title>{%endblock title%}
    </head>
    <body>
        <div>
            <ul class="menu_bar">
                <li><a class="mainpage" href="#home">Salesgrade</a></li>
                <li><a class="leftbar" href="#own_results">My page</a></li>
                <li><a class="leftbar" href="#recruits">My Recruits</a></li>
                <li><a class="leftbar" href="http://127.0.0.1:8000/database/own_results">Statistics</a></li>
                <li><a class="leftbar" href="#blog">Blog</a></li>
                <li><a class="rightbar"href="#sign up">Sign up</a></li>
                <li><a class="rightbar"href="#login">Log In</a></li>
            </ul>
        </div>
        <div class="content">
            {%block content%}
            {%endblock content%}
        </div>
    </body>
    
    
    </html>
